<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB for pets</title>
</head>
<body>
    <h1>Db for pets</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.age.label }} {{ form.age() }}<br>
        {{ form.type.label }} {{ form.type() }}<br>
        {{ form.submit() }}
    </form>

    <h2>Pet List</h2>
    <ul>
        {% for pet in pets %}
            <li>{{ pet.name }} ({{ pet.age }} years old, {{ pet.type }})</li>
        {% endfor %}
    </ul>
</body>
</html>
